body {
  background: linear-gradient(
    110.4deg,
    rgb(255, 196, 254) 9.6%,
    rgb(251, 229, 123) 91%
  );
}

main {
  text-align: left;
  flex-direction: column;
  margin: 60px;
}

h1 {
  color: black;
  font-size: 80px;
  text-align: center;
  font-family: "Moo Lah Lah", sans-serif;
  font-weight: 400;
}

h2 {
  color: whitesmoke;
  font-size: 60px;
  text-align: center;
  font-family: "Moo Lah Lah", sans-serif;
  font-weight: 450;
}

button {
  background-color: white;
  color: rgb(255, 196, 254);
  margin: 30px;
  border: 3px dashed rgb(255, 196, 254);
  border-radius: 40px;
  box-shadow: 5px 5px 5px rgb(117, 113, 113);
  padding: 20px;
  width: 500px;
  font-size: 25px;
}

button:hover {
  background-color: #fbe285;
  transition: 125ms all ease-in-out;
}

a {
  text-decoration: none;
  color: rgb(235, 56, 86);
  font-family: monospace;
  /*font-weight: bold;*/
}

a:hover {
  text-decoration: none;
  color: white;
  font-family: monospace;
}

p {
  margin-top: 80px;
}

img {
  border: 3px dashed white;
  border-radius: 50%;
  padding: 10px;
  margin-top: 50px;
}

#menu {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 100px;
}

footer {
  text-align: center;
  margin: 50px;
  color: grey;
  font-family: monospace;
}

.molle-regular-italic {
  font-family: "Molle", cursive;
  font-weight: 400;
  font-style: italic;
}
.moo-lah lah-regular {
  font-family: "Moo Lah Lah", sans-serif;
  font-weight: 400;
  font-style: normal;
}
